$perfil-Productostexto-2A:(
    alineado-texto-a: center,
    margen-texto-a: 10px 10px 10px 60px,
    rellenotexto-a: 10px 50px 10px 20px,

);

$perfil-Productostexto-2B:(
    alineado-texto-b: center,
    margen-texto-b: 10px,
    rellenotexto-b: 10px,

);