$color-principal-titulo:  #c79c60;
$color-principal-texto: rgb(54, 54, 54);
$color-menu:#614124;
$theme-color: #302f2f;
$primary-color: #c79c60;
$secundary-color: #F8CB2E;
$text-color-inverse: rgb(255, 255, 255);
$text-color:rgb(54, 54, 54);
$navbar-color-inicio:rgb(199, 156, 96);
$color-fondo-botton:rgb(215, 168, 110);
$navbar-shallow-color: rgb(229, 229, 229);
$menu-mobile-background-color:rgb(54, 54, 54);