$color-principal-titulo:  #c79c60;
$color-principal-texto: #363636;
$color-menu:#614124;
$theme-color: #302f2f;
$primary-color: #c79c60;
$secundary-color: #F8CB2E;
$text-color-inverse: rgb(255, 255, 255);
$text-color:#363636;
$navbar-color-inicio:#c79c60;
$color-fondo-botton:#D7A86E;
$navbar-shallow-color: #e5e5e5;
$menu-mobile-background-color:#363636;