/* --------------Estilo del cuerpo de las subpáginas Productos (cafetería y dulceysalado)-------------- */

@import "../base/mixins";
@import "../base/variables";





.tm-main-section-pro-a {
  padding-top: 170px;
}


.container-menu-pro {
  max-width: 1125px;
  margin: 0 auto;
}

.tm-contac-item-title-pro {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 50px;
  color: rgb(54, 54, 54);
  padding: 0 20px;
}

.tm-popular-items-container-pro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;}

.tm-popular-item-pro {
  background-color: $text-color-inverse;
  background-size: 100% 100%;
  max-width: 270px;
  max-height: 455px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 15px;
  position: relative;
}


.tm-popular-item-img-prod {
  margin: 15px;
  width: 244px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px 10px;}

.fa-heart {
  position: absolute;
  top: 25px;
  right: 28px;
  height: 35px;
  width: 35px;
  line-height: 37px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 50%;
  color: rgb(174, 174, 174);
}

.fa-heart:hover {
  background-color: $text-color;
  color: $primary-color;
}

.tm-popular-item-description-prod {
  padding: 0 30px 60px;
  position: relative;
  text-align: justify;
}

.stars {
  padding-bottom: 0px;

  i {
    font-size: 15px;
    color: rgb(174, 174, 174)
  }
}

.btn-price {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.btn-menu-prod {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5 1 auto;
  background-image: url(/Imagenes/tm-brown-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 8px;
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  color: #c79c60;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  flex: 0.5 1 auto;
}

.btn-menu-prod:hover,
.btn-menu-prod:focus {
  color: white;
  text-decoration: none;
}


.price {
  color: rgb(174, 174, 174);
  font-size: 23px;
  flex: 1 1 auto;
  font-weight: 501;
  display: flex;
  justify-content: flex-end;
}

.order-now-container-pro {
  width: 200px;
  height: 50px;
  background-color: rgb(82, 76, 76);
  border-radius: 10px;
  margin: 10px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: -80px;
  justify-content: center;}

  .order-now-link-pro {
    font-size: 18px;
    color: rgb(174, 174, 174);
    border: 2px solid rgb(174, 174, 174);
    border-radius: 10px;
    width: 162px;
    height: 30px;
    padding: 0 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    text-transform: uppercase;}



.tm-popular-item-pro:hover {
  background-color: whitesmoke
}

.tm-popular-item-pro:hover .stars i{
  color: $color-principal-titulo;
}
.tm-popular-item-pro:hover .tm-popular-item-title {
  color: $color-principal-titulo;
}

.tm-popular-item-pro:hover .price {
  color: $color-principal-titulo;
}

.tm-popular-item-pro:hover hr {
  border: solid 1.5px #c79c60;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.order-now-link-pro:hover {
  border-color: #c79c60;
  color: #c79c60;
  text-decoration: none;
}

.tm-main-section-pro-b {
  padding-top: 80px;
}

.tm-main-section-pro-c {
  padding-top: 80px;
}


@media screen and (max-width: 550px) {
  .tm-header-line{
    display: block;
    margin: 20px auto;
  }
}


@media screen and (max-width: 500px) {
  .tm-main-section-pro-c {
    margin-bottom: 50px;
  }

}