/* --------------Estilo del cuerpo de la página Contactos-------------- */
@import "../base/extends";
@import "../base/mixins";

.tm-contact-form {
    margin-top: 60px;
}

.tm-section-contac {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

.bigger-first-contac { font-size: 60px;
color: $primary-color; }

.tm-contac-item-title{
    font-size: 25px;
margin-top: 0;
margin-bottom: 0;
color: $text-color;
}

.form-control {
    border-color: #c79c60;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: rgb(136, 93, 33);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(199, 156, 96, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(199, 156, 96, 0.6);
}


.form-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.form {
    width: 450px;
}

.map {
    height: 380px;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 50%;
}

.tm-more-button-contac {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(/Imagenes/tm-brown-button.png);
    width: 196px;
    height: 46px;
    text-transform: uppercase;
    font-size: 16px;
    color: #c79c60;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    margin-left: 125px;
    border-radius: 15px;
}

@media screen and (max-width: 950px) {
    .form-map {
        justify-content: center;
        align-items: center;
        width: 650px;
        flex-direction: column;
      }

      .form {
        width: 500px;
      }

      .map {
        width: 500px;
        margin-top: 20px;
      }

      .tm-more-button-contac{
        margin-left: 150px;
      }

  }

  @media screen and (max-width: 500px) {
    .form-map {
        justify-content: center;
        align-items: center;
        width: 350px;
        flex-direction: column;
      }

      .form {
        width: 330px;
      }

      .map {
        width: 330px;
        margin-top: 20px;
      }

      .tm-more-button-contac{
        margin-left: 70px;
      }

      .tm-handwriting-font-b {
        font-size: 29px;}

        .tm-section-header {
            max-width: 310px;}

  }